<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>simverse-health-check</string>
        <key>ProgramArguments</key>
        <array>
            <string>sh</string>
            <string>-c</string>
            <string>/Users/darwin/tasks/simverse/scripts/trigger-health-check.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>2</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/darwin/tasks/simverse</string>
        <key>StandardErrorPath</key>
        <string>/Users/darwin/tasks/logs/simverse_health_check_err.log</string>
        <key>StandardOutPath</key>
        <string>/Users/darwin/tasks/logs/simverse_health_check_out.log</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/Users/darwin/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin</string>
        </dict>
    </dict>
</plist>